El presente Jupyter NoteBook, se usara para realizar la descarga de información correspondiente a la pobación colombiana por departamento. Esta información sera tomada desde la pagina Web https://globaldatalab.org.

In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time
import pandas as pd
import numpy as np
import random

In [2]:
#Se crea la variable n como un numero aleatorio
s = random.randint(0,10)

In [3]:
'El presente bot se usa para realizar el descargue del archivo relacionado a la población'
'Colombiana por departamento entre los años 2016 al 2018'


#uso del Webdriver de Chrome e indicación del link a usar
browser = webdriver.Chrome(executable_path=r"/Users/hernangracia/Desktop/Python/phantomjs-2.1.1-macosx/bin/chromedriver")
browser.get("https://globaldatalab.org/")
browser.maximize_window()
time.sleep(s)

#Ingresar usuario y clave para iniciar sesion
Boton_Login = browser.find_element_by_xpath('/html/body/nav/div[2]/ul[2]/li[1]/a').click()
time.sleep(s)
Boton_email = browser.find_element_by_xpath('//*[@id="field_emailaddress"]').send_keys('garcia-hernan-46@hotmail.com')
time.sleep(s)
Boton_Contraseña = browser.find_element_by_xpath('//*[@id="field_password"]').send_keys('Saracamila01')
time.sleep(s)
Boton_Sumit = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div[3]/div/button')
Boton_Sumit.click()
time.sleep(s)

#Proceso para descargar archivo de Población
Boton_1= browser.find_element_by_xpath('/html/body/nav/div[2]/ul[1]/li[2]/a')
Boton_1.click()
time.sleep(s)

Boton_Cat = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[1]/div/div/button/b')
Boton_Cat.click()
time.sleep(s)
Boton_Cat1 = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[1]/div/div/ul/li[3]/a/label/input')
Boton_Cat1.click()
time.sleep(s)

Boton_ind = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[2]/div/div/button')
Boton_ind.click()
time.sleep(s)
Boton_ind1 = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[2]/div/div/ul/li[13]/a/label/input')
Boton_ind1.click()
time.sleep(s)

Boton_Country = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[5]/div/button')
Boton_Country.click()
time.sleep(s)
Boton_Selec = browser.find_element_by_xpath('//*[@id="select-all-countries"]')
Boton_Selec.click()
time.sleep(s)
Boton_Country1 = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[5]/div/div/div[2]/ul[2]/li[6]/div/label/input')
Boton_Country1.click()
time.sleep(s)

Boton_Download = browser.find_element_by_xpath('//*[@id="download-this"]')
Boton_Download.click()
time.sleep(s)
Boton_csv= browser.find_element_by_xpath('//*[@id="download-this-csv"]')
Boton_csv.click()

<ipython-input-3-bbdcbbeea69c>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(executable_path=r"/Users/hernangracia/Desktop/Python/phantomjs-2.1.1-macosx/bin/chromedriver")
<ipython-input-3-bbdcbbeea69c>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Login = browser.find_element_by_xpath('/html/body/nav/div[2]/ul[2]/li[1]/a').click()
<ipython-input-3-bbdcbbeea69c>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_email = browser.find_element_by_xpath('//*[@id="field_emailaddress"]').send_keys('garcia-hernan-46@hotmail.com')
<ipython-input-3-bbdcbbeea69c>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Contraseña = browser.find_element_by_xpath('//*[@id="field_password"]').send_keys('Saracamila01')
<ipython-input-3-bbdcbbeea69c>:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Sumit = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div[3]/div/button')
<ipython-input-3-bbdcbbeea69c>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_1= browser.find_element_by_xpath('/html/body/nav/div[2]/ul[1]/li[2]/a')
<ipython-input-3-bbdcbbeea69c>:27: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Cat = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[1]/div/div/button/b')
<ipython-input-3-bbdcbbeea69c>:30: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Cat1 = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[1]/div/div/ul/li[3]/a/label/input')
<ipython-input-3-bbdcbbeea69c>:34: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_ind = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[2]/div/div/button')
<ipython-input-3-bbdcbbeea69c>:37: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_ind1 = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[2]/div/div/ul/li[13]/a/label/input')
<ipython-input-3-bbdcbbeea69c>:41: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Country = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[5]/div/button')
<ipython-input-3-bbdcbbeea69c>:44: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Selec = browser.find_element_by_xpath('//*[@id="select-all-countries"]')
<ipython-input-3-bbdcbbeea69c>:47: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Country1 = browser.find_element_by_xpath('/html/body/div[3]/div/article/form/div/div[1]/div[5]/div/div/div[2]/ul[2]/li[6]/div/label/input')
<ipython-input-3-bbdcbbeea69c>:51: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_Download = browser.find_element_by_xpath('//*[@id="download-this"]')
<ipython-input-3-bbdcbbeea69c>:54: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Boton_csv= browser.find_element_by_xpath('//*[@id="download-this-csv"]')

In [19]:
# Uso del archivo

BasePoblacion = pd.read_csv('/Users/hernangracia/Downloads/GDL-Population-size-in-thousands-data.csv')

In [30]:
#Analisis del Archivo

BasePoblacion1 = BasePoblacion[(BasePoblacion.Region!='Total')].copy()
BasePoblacion2 = BasePoblacion1.drop(['Country','ISO_Code','Level','GDLCODE','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'],axis=1)
BasePoblacion2

                           Region    2016    2017    2018    2019
1                        Amazonas    76.1    77.3    78.4    79.5
2       Antioquia (incl Medellin)  6464.0  6562.0  6662.0  6755.0
3                          Arauca   263.0   267.0   271.0   274.0
4   Atlantico (incl Barranquilla)  2463.0  2500.0  2539.0  2574.0
5                     Bogota D.C.  7888.0  8007.0  8129.0  8243.0
6         Bolivar (Sur and Norte)  2100.0  2132.0  2164.0  2194.0
7                          Boyaca  1278.0  1297.0  1317.0  1336.0
8                          Caldas   989.0  1004.0  1020.0  1034.0
9                         Caqueta   478.0   486.0   493.0   500.0
10                       Casanare   357.0   362.0   368.0   373.0
11                          Cauca  1381.0  1402.0  1423.0  1443.0
12                          Cesar  1030.0  1046.0  1062.0  1077.0
13                          Choco   501.0   508.0   516.0   523.0
14                        Cordoba  1712.0  1737.0  1764.0  1789.0
15                   Cundinamarca  2683.0  2724.0  2765.0  2804.0
16                        Guainja    41.4    42.1    42.7    43.3
17                        Guajira   959.0   974.0   989.0  1002.0
18                       Guaviare    65.0    66.0    67.0    68.0
19                          Huila  1156.0  1174.0  1192.0  1208.0
20                      Magdalena  1262.0  1281.0  1300.0  1318.0
21                           Meta   962.0   977.0   992.0  1006.0
22                         Narino  1746.0  1773.0  1800.0  1825.0
23             Norte de Santander  1357.0  1378.0  1399.0  1419.0
24                       Putumayo   345.0   351.0   356.0   361.0
25                        Quindio   566.0   575.0   583.0   591.0
26                      Risaralda   953.0   967.0   982.0   996.0
27                     San Andres    76.6    77.8    78.9    80.0
28                      Santander  2063.0  2094.0  2126.0  2156.0
29                          Sucre   853.0   866.0   879.0   891.0
30                         Tolima  1410.0  1431.0  1453.0  1473.0
31              Valle (incl Cali)  4619.0  4689.0  4761.0  4827.0
32                         Vaupis    43.8    44.5    45.2    45.8
33                        Vichada    31.3    31.8    32.3    32.7

In [62]:
BasePoblacion2=BasePoblacion2.rename({'Region':'departamento'}, axis='columns')

In [63]:
# Se deja archivo unicamente con Los datos del 2016

BasePoblacion2016 = BasePoblacion2.drop(['2017','2018','2019'],axis=1).copy()
BasePoblacion2016.set_index("departamento", inplace=True)
BasePoblacion2016=BasePoblacion2016.assign(año=2016)
BasePoblacion2016.head()

                                 2016   año
departamento
Amazonas                         76.1  2016
Antioquia (incl Medellin)      6464.0  2016
Arauca                          263.0  2016
Atlantico (incl Barranquilla)  2463.0  2016
Bogota D.C.                    7888.0  2016

In [64]:
# Se deja archivo unicamente con Los datos del 2017

BasePoblacion2017 = BasePoblacion2.drop(['2016','2018','2019'],axis=1).copy()
BasePoblacion2017.set_index("departamento", inplace=True)
BasePoblacion2017=BasePoblacion2017.assign(año=2017)
BasePoblacion2017.head()

                                 2017   año
departamento
Amazonas                         77.3  2017
Antioquia (incl Medellin)      6562.0  2017
Arauca                          267.0  2017
Atlantico (incl Barranquilla)  2500.0  2017
Bogota D.C.                    8007.0  2017

In [65]:
# Se deja archivo unicamente con Los datos del 2018

BasePoblacion2018 = BasePoblacion2.drop(['2016','2017','2019'],axis=1).copy()
BasePoblacion2018.set_index("departamento", inplace=True)
BasePoblacion2018=BasePoblacion2018.assign(año=2018)
BasePoblacion2018.head()

                                 2018   año
departamento
Amazonas                         78.4  2018
Antioquia (incl Medellin)      6662.0  2018
Arauca                          271.0  2018
Atlantico (incl Barranquilla)  2539.0  2018
Bogota D.C.                    8129.0  2018

In [66]:
# Se deja archivo unicamente con Los datos del 2019

BasePoblacion2019 = BasePoblacion2.drop(['2016','2017','2018'],axis=1).copy()
BasePoblacion2019.set_index("departamento", inplace=True)
BasePoblacion2019=BasePoblacion2019.assign(año=2019)
BasePoblacion2019.head()

                                 2019   año
departamento
Amazonas                         79.5  2019
Antioquia (incl Medellin)      6755.0  2019
Arauca                          274.0  2019
Atlantico (incl Barranquilla)  2574.0  2019
Bogota D.C.                    8243.0  2019

In [69]:
#Se cambia el nombre del año por IDH
BasePoblacion2016=BasePoblacion2016.rename({'2016':'Poblacion'}, axis='columns')
BasePoblacion2017=BasePoblacion2017.rename({'2017':'Poblacion'}, axis='columns')
BasePoblacion2018=BasePoblacion2018.rename({'2018':'Poblacion'}, axis='columns')
BasePoblacion2019=BasePoblacion2019.rename({'2019':'Poblacion'}, axis='columns')

In [70]:
#se Unen los DF'S creados anteriormente

BasePoblacionTotal = pd.concat([BasePoblacion2016,BasePoblacion2017,BasePoblacion2018,BasePoblacion2019])
BasePoblacionTotal

                               Poblacion   año
departamento
Amazonas                            76.1  2016
Antioquia (incl Medellin)         6464.0  2016
Arauca                             263.0  2016
Atlantico (incl Barranquilla)     2463.0  2016
Bogota D.C.                       7888.0  2016
...                                  ...   ...
Sucre                              891.0  2019
Tolima                            1473.0  2019
Valle (incl Cali)                 4827.0  2019
Vaupis                              45.8  2019
Vichada                             32.7  2019

[132 rows x 2 columns]

In [71]:
BasePoblacionTotal.to_csv('Base_Poblacion.csv')